{% extends "base.html" %}

{% load static %}

{% block title %}Colabore{% endblock %}

{% block conteudo %}

<body>

    <h1 class="textoPar" style="top:50%">Colabore e participe dos nossos Eventos</h1>

    <div class="fotos">
		<div class= "textoD">Compre a sua camisa do Amor!</div>

		<div class="texto1">Este ano oferecemos 3 estampas, dando diferentes opções para que você declare junto conosco que ainda há muito caminho a percorrer!

				Garanta já a sua!</div>
        <div class="Foto1"><img src="/static/images/camisa 1.jpg" height="350" width="800"></div>
        
		<div class="texto2"><br><br><br>Nossas crianças também fazem parte deste amor que só cresce. Por isto, este ano não seria diferente das campanhas anteriores: também teremos uma camisa com estampa, exclusivamente fofa, para as nossas pequenas!

				Garanta já a sua e vem amar a vida com a gente!</div>
        <div class="Foto2"><img src="/static/images/camisa 2.jpg" height="450" width="450"></div>
        
		<div class="texto3"><br><br>Vestir a camisa do amor diz muito sobre você.

				Diz sobre o seu coração!
				
				Diz sobre a sua vontade em fazer do mundo um lugar em que o bem prevaleça
				
				Diz sobre como você é capaz de doar um pouco daquilo que tem, pra quem tem pouco (ou nada tem).
				
				Diz sobre sua sensibilidade em notar as necessidades do outro.
				
				Diz que você é parte de um movimento de amor.
				
				A nossa campanha é financiada pela venda dessas camisas e, comprar a sua, faz de você um colaborador deste projeto. Um semeador do bem que cresce à luz do amor.
				
				E então?
				Vem amar a vida junto com a gente?</div>

		<div class="Foto3"><img src="/static/images/pedido.jpg" height="450" width="450"></div>
		
		<div class= "textoD2">O Eu Amo Vida tem algumas metas para 2019. Vem amar a vida junto com a gente e ajudar a semear o bem!</div>
        
		<div class="texto4"><br><br>A novidade das nossas metas deste ano é a arrecadação de 200 pacotes de cereais infantis que serão doados à ala pediátrica do Hospital do câncer da Paraíba.

				Esses cereais são massas que colaboram para a nutrição de crianças e contêm nutrientes permitidos aos pacientes oncológicos.
				
				Aceitaremos doações do tipo Mucilon, Neston, Aveia e Farinha Lactea. Vem amar a vida junto com a gente? Contribua!</div>
        <div class="Foto4"><img src="/static/images/meta.jpg" height="450" width="450"></div>
        
		<div class="texto5"><br><br><br><br>Esse ano o Eu Amo Vida também tem como meta a arrecadação de 200 pacotes de fraldas, que serão doadas à pacientes com câncer.
				Vem amar a vida junto com a gente e ajudar a semear o bem!</div>
        <div class="Foto5"><img src="/static/images/meta2.jpg" height="450" width="450"></div>

		<div class="texto6"><br><br><br><br>Esse ano o Eu Amo Vida tem a meta de arrecadar 200 cestas básicas, e, assim, beneficiar dezenas de famílias de comunidades carentes da cidade de Mamanguape! 
				Nos ajude a propagar o bem. Vem amar a vida junto com a gente?</div>
        <div class="Foto6"><img src="/static/images/meta3.jpg" height="450" width="450"></div>

		<div class="texto7"><br><br><br><br>Nos últimos 6 anos o Eu Amo Vida colaborou com a coleta de 300 bolsas de sangue para o Hemocentro da Paraíba. A meta deste ano é de arrecadar 30 bolsas.            Doar sangue pode salvar vidas! Junte-se a nós nesta luta de amor à vida!</div>
		<div class="Foto7"><img src="/static/images/meta4.jpg" height="450" width="450"></div>

    </div>
</body>

{% endblock %}


