{% extends "base.html" %}

{% load static %}

{% block title %}Colabore{% endblock %}

{% block conteudo %}

<h2 id="Titulo">Vem amar a vida junto com a gente!</h1>

<div id="cidades" style="position: relative;margin-top: 5%"">
	<div id="mamanguapeFoto"><img src="{% static 'images/sangue.jpg' %}" height="250" width="250"></div>
        <div id="nomeMMG">Doe sangue</div>
        <div id="botaoMMG">SAIBA MAIS</div>

        <div id="RioTintoFoto"><img src="{% static 'images/alimento.jpg' %}" height="250" width="250"></div>
        <div id="nomeRT">Doe alimentos</div>
        <div id="botaoRT">SAIBA MAIS</div>

        <div id="guarabiraFoto"><img src="{% static 'images/camisa.jpg' %}" height="250" width="250"></div>
        <div id="nomeGBA">Compre camisas</div>
        <div id="botaoGBA">SAIBA MAIS</div>

        <div id="baiatraicao_marcacaoFoto"><img src="{% static 'images/fralda.jpg' %}" height="250" width="250"></div>
        <div id="nomeBTMR">Doe fraldas</div>
        <div id="botaoBTMR">SAIBA MAIS</div>

        <div id="itapororocaFoto"><img src="{% static 'images/cereal.jpg' %}" height="250" width="250"></div>
        <div id="nomeITA">Doe cereais</div>
        <div id="botaoITA">SAIBA MAIS</div>

        <div id="jacarauFoto"><img src="{% static 'images/voluntario.jpg' %}" height="250" width="250"></div>
        <div id="nomeJA">Seja um voluntário</div>
        <div id="botaoJA">SAIBA MAIS</div>
</div>



	

{% endblock %}


