{% extends "base.html" %}

{% load static %}

{% block title %}Colabore{% endblock %}

{% block conteudo %}

	<div style="position: relative;margin-top: 12%" class="col-12 col-md-8">
                <h2 id="Titulo">Você pode colaborar das seguintes formas</h1>
                <h4>Vem amar a vida junto com a gente!</h4>
	</div>
<div id="cidades" style="position: relative;margin-top: -6%"">
	<div id="mamanguapeFoto"><img src="{% static 'images/sangue.jpg' %}" height="250" width="250"></div>
        <div id="nomeMMG">Doação de sangue</div>
        <div id="botaoMMG">SAIBA MAIS</div>

        <div id="RioTintoFoto"><img src="{% static 'images/alimento.jpg' %}" height="250" width="250"></div>
        <div id="nomeRT">Doação de alimentos</div>
        <div id="botaoRT">SAIBA MAIS</div>

        <div id="guarabiraFoto"><img src="{% static 'images/camisa.jpg' %}" height="250" width="250"></div>
        <div id="nomeGBA">Compre camisa</div>
        <div id="botaoGBA">SAIBA MAIS</div>

        <div id="baiatraicao_marcacaoFoto"><img src="{% static 'images/fralda.jpg' %}" height="250" width="250"></div>
        <div id="nomeBTMR">Doação de fraldas</div>
        <div id="botaoBTMR">SAIBA MAIS</div>

        <div id="itapororocaFoto"><img src="{% static 'images/cereal.jpg' %}" height="250" width="250"></div>
        <div id="nomeITA">Doação de cereais</div>
        <div id="botaoITA">SAIBA MAIS</div>

        <div id="jacarauFoto"><img src="{% static 'images/voluntario.jpg' %}" height="250" width="250"></div>
        <div id="nomeJA">Seja um voluntário</div>
        <div id="botaoJA">SAIBA MAIS</div>
</div>



	

{% endblock %}


