{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="baiamarcacaoPrincipal">
        <div id="baiamarcacaoFotoPrincipal"><img src="/static/images/BaiaTraicao_Marcacao.jpg"></div>
        <div id="baiamarcacaoInfoGeo1"><h1>Aproximadamente 9 mil habitantes</h1></div>
        <div id="baiamarcacaoInfoGeo2"><h3>Carinhosamente chamado de Eu Amo Vida Beach e lançou uma camiseta especial</h3></div>
        <div id="baiamarcacaoTextoTodo">Baía da Traição é uma cidade praieira localizada no litoral norte da Paraíba, e tem uma população estimada em quase 9 mil habitantes.
                Sob a coordenação de Maria Eduarda Henriques e Liz Gabrielle Rodrigues, a cidade sediou a primeira edição do nosso projeto em março de 2017. O evento, que contou com uma belíssima vista para o mar, foi carinhosamente chamado de Eu Amo Vida Beach e lançou uma camiseta especial que combinou perfeitamente com o clima da região. Muitos imprevistos marcaram a campanha, mas os voluntários não se deixaram abalar. As arrecadações aconteceram e foram destinadas à população carente da cidade.
                E não para por aí, a próxima edição já tem previsão de data e será sediada em Marcação, cidade com aproximadamente 7 mil habitantes, localizada a 8km da Baía da Traição. Por se tratar de municípios pequenos, o Eu Amo Vida propôs uma parceria de atuação e ficou decidido que os voluntários da região promoveriam uma campanha bienal em cada uma das cidades.</div> 
        <div id="btFOTO1"><img src="/static/images/bt1.jpg"></div>
        <div id="btFOTO2"><img src="/static/images/bt2.jpg"></div>
        <div id="btFOTO3"><img src="/static/images/bt3.jpg"></div>
        <div id="btFOTO4"><img src="/static/images/bt4.jpg"></div>  
{% endblock %}