body {
	background-color: #eeeef0;
}

.fotona {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
	    -ms-filter: blur(2px);
	     -o-filter: blur(2px);
	filter: blur(4px);
	position: absolute;
}

.nav-link, active, scroll {
	color: #000;
	font-family: 'roboto';
	font-size: 20px;
}

.navbar-nav > li > a:hover {
	color: #c90024;
}

@font-face {
    font-family: 'minimal';
    src: url("/static/fonts/minimal.otf");
}

@font-face {
	font-family: 'roboto';
    src: url("/static/fonts/roboto.ttf");    
}

#titulo {
	position: absolute;
    top: 35%;
	left: 26%;
	font-size: 100px;
	font-family: 'minimal';
	line-height: 100px;
	color: #c90024;
	font-weight: bolder;
	letter-spacing: 4px;
}




