{% extends "base.html" %}

{% block title %}Doe cereais{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Doe Cereais</h1>

<div id="DoeCereais">
    <div id="foto1"><img src="/static/images/4.jpg" height="700" width="1000"></div>
    <div id="texto">A novidade das nossas metas deste ano é a arrecadação de 200 pacotes de <br> cereais infantis que serão doados à ala pediátrica do Hospital do câncer da Paraíba.<br>

        Esses cereais são massas que colaboram para a nutrição de crianças e <br> contêm nutrientes permitidos aos pacientes oncológicos.
        
       <br> Aceitaremos doações do tipo Mucilon, Neston, Aveia e Farinha Lactea. <br>Vem amar a vida junto com a gente? Contribua!</div>
    
</div>

{% endblock %}