{% extends "base.html" %}

{% load static %}

{% block title %}Home{% endblock %}

{% block conteudo %}


    <div class="fotona">
        <img src="{% static 'images/capa.jpg' %}" style="height: 700px; width: 1286px;">
    </div>

    <div id="titulohome" class="w-50 p-3">
        <marquee direction="up"><p>Amar jamais <br> será demais!</p></marquee>
    </div>

<div class="container-tl">
  <div class="row">
    <div class="col-lg-12">
      <h3 style="margin-left: 10%">O Eu Amo Vida ao longo do tempo</h3>
  
      <ul class="timeline"  class="col-lg-12">
        <li class="timeline-normal">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2012.jpg' %}" width="200" height="200">
          </div>
          <div class="timeline-panel" class="col-lg-3">
            <div class="timeline-heading">
              <h4>2012</h4>
            </div>
            <div class="timeline-body">
              <p>
                Um grupo de jovens se reúne na cidade de Mamanguape/PB para celebrar o amor à vida como homenagem póstuma a uma amiga que havia falecido por câncer. 
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted" >
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2013.jpg' %}" width="200" height="200">
          </div> 
          <div class="timeline-panel" style="width:30%">
            <div class="timeline-heading">
              <h4>2013</h4>
            </div>
            <div class="timeline-body">
              <p>
                "O amor é a alegria pelo bem." A cidade de Rio Tinto/PB junta-se a nós no amor à vida.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-normal">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2014.png' %}" width="200" height="200">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2014</h4>
            </div>
            <div class="timeline-body">
              <p>
                O projeto acrescenta a arrecadação de materiais de limpeza que são doados ao Hospital Padre Zé. Ensaio Fotográfico "Amor à vida".
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2015.jpg' %}" width="200" height="200">
          </div>
          <div class="timeline-panel" style="width:30%">
            <div class="timeline-heading">
              <h4>2015</h4>
            </div>
            <div class="timeline-body">
              <p>
                Pela primeira vez o Eu Amo Vida estabelece e bate metas de arrecadação.  Mais de 800 livros infantis são entregues na ala pediátrica do Hospital de Câncer da Paraíba.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-normal">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2016.png' %}" width="200" height="200">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2016</h4>
            </div>
            <div class="timeline-body">
              <p>
                O amor é o único fundamento do bem. O cacto se torna o mascote das nossas ações. As cidades da Baía da Traição, Guarabira e Itapororoca são inseridas no nosso calendário. 
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2017.png' %}" width="200" height="200">
          </div>
          <div class="timeline-panel" style="width:30%">
            <div class="timeline-heading">
              <h4>2017</h4>
            </div>
            <div class="timeline-body">
              <p>
                O bem cresce à luz do amor. As arrecadações somam mais de 600 cestas básicas, 500 fraldas descartáveis e 150 bolsas de sangue. As cidades de Marcação e Jacaraú se tornam parte deste movimento de amor.
              </p>
            </div>
          </div>
          <div class="line"></div>
        </li>

        <li>
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="{% static 'images/2018.jpg' %}" width="200" height="200">
          </div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h4>2018</h4>
            </div>
            <div class="timeline-body">
              <p>
                Vem amar a vida junto com a gente?
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div id="agenda">
  <h3>Confira onde o Eu Amo Vida estará</h3>
  <iframe src="https://calendar.google.com/calendar/b/2/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=projetoeuamovida%40gmail.com&amp;color=%231B887A&amp;ctz=America%2FFortaleza" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

    
{% endblock %}


