{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="jacarauPrincipal">
        <div id="jacarauFotoPrincipal"><img src="/static/images/jacarau.jpg"></div>
        <div id="jacarauInfoGeo1"><h1>Aproximadamente 15 mil habitantes</h1></div>
        <div id="jacarauInfoGeo2"><h3>A campanha, realizada em março deste ano, ultrapassou o esperado com arrecadação</h3></div>
        <div id="jacarauTextoTodo">Jacaraú, localizada a 96 km de João Pessoa, tem14.378 habitantes e sua área territorial chega a 253 km². Em 2018, esta querida cidade tornou-se mais uma parceira do Eu Amo Vida! 
                A campanha, realizada em março deste ano, ultrapassou o esperado com arrecadação de brinquedos, fraldas, cestas básicas, cortes de cabelo e alcançando um recorde na coleta de bolsas de sangue.
                Obrigado, povo de Jacaraú, por compartilhar conosco o amor à vida!</div> 
        <div id="jaFOTO1"><img src="/static/images/gb1.jpg"></div>
        <div id="jaFOTO2"><img src="/static/images/gb2.jpg"></div>
        <div id="jaFOTO3"><img src="/static/images/gb3.jpg"></div>
        <div id="jaFOTO4"><img src="/static/images/gb4.jpg"></div>
{% endblock %}