{% extends "base.html" %}
{% load static %}
{% block title %}Sobre{% endblock %}

{% block conteudo %}

<body>

    <div class="container">
        <h1 id="sobrebug">Sobre</h1>
        <p>
            O Eu Amo Vida foi criado para ajudar o próximo, celebrar a vida e dizer ao mundo que é preciso viver e fazer o bem. Sem fins lucrativos, os custos para a realização do projeto são arcados pela venda das camisas referentes às campanhas de arrecadação.
            Uma idealização da Jornalista e estudante de Direito, Maria Eunice Cabral, 26 anos, e do estudante de Medicina, Wagner Cunha, 27 anos, a ação em prol da vida foi inspirada pela morte. Em forma de homenagem póstuma, a iniciativa surgiu do luto, e traz à tona, antes de tudo, a importância de voltar os olhos à solidariedade.
            A primeira edição do evento aconteceu no dia 28 de julho de 2012, baseada na coleta de sangue e na arrecadação de alimentos e fraldas geriátricas. O evento que começou em Mamanguape já acontece em outros 6 municípios na Paraíba.
        </p>   
    </div>
        
    <div id="organizacao">
        <div id="MariaFoto"><img src="/static/images/MariaFoto.jpg" height="300" width="300"></div>
        <div id="MariaDescricao">Fundadora</div>
        <div id="MariaRedeSocial"><a href="https://www.facebook.com/mariaeuniceluna" target="_blank"><img src="{% static 'images/facebook.jpg' %}" ></a></div>

        <div id="wagnerFoto"><img src="{% static 'images/wagnerFoto.jpg' %}" height="300" width="300"></div>
        <div id="wagnerDescricao">Fundador</div>
        <div id="wagnerRedeSocial"><a href="https://www.facebook.com/wagner.cunha.351" target="_blank"><img src="{%static 'images/facebook.jpg' %}"></a></div>
  
        </div>
    </div>
        
</body>

{% endblock %}
