{% extends "base.html" %}

{% load static %}

{% block title %}Seja um voluntário{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Seja Voluntário</h1>

<div id="Voluntario">
    <div id="foto1"><img src="{% static 'images/9.jpg' %}" height="700" width="1000"></div>
    <div id="texto">Este ano, estamos disponibilizando um cadastro através do qual você poderá <br>assumir o compromisso do voluntariado e definir a equipe de arrecadação<br> na qual pode nos ajudar.

        Leia o formulário com atenção e marque<br> somente a opção em que deseja participar. 
        
        Feito isso, você já pode se considerar<br> um voluntário Eu Amo Vida 2018. 
        
        Vem amar a vida junto com a gente? <p>Clique aqui.</p></div>
    
</div>

{% endblock %}

