{% extends "base.html" %}

{% block title %}Colabore{% endblock %}

{% block conteudo %}

<body>
    <div class="formContato"> 
    <h1 id="Titulo">Fale conosco</h1>
		<form>
			<p><strong>Nome:</strong></p>
			<input type="text" name="nome"  size="60">
		 	<p><strong>E-mail:</strong></p>
			<input type="text" name="nome" size="60">
		 	<p><strong>Mensagem:</strong></p>
			<textarea rows="15" cols="60"></textarea>
			<input type="Button"  value="Enviar" >
		</form>
	 </div>
</body>

{% endblock %}




    