{% extends "base.html" %}

{% load static %}

{% block title %}Loja{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Lojinha Eu Amo Vida</h1>


<div class="row" style="width: 80%; margin-left: 10%; margin-top: 15%">
	{%  for produto in produtos %}
	<div class="col-sm-6 col-md-4">
		<div class="thumbnail">
			<a href="{% url 'euamovida-produto' produto.id %}">
				<img src="{{ produto.imagem.url }}" height="300" width="300">
			</a>
			<div class="caption" align="center">
				<a href="{% url 'euamovida-produto' produto.id %}" style="font-size: 35px; color:#c90024; text-decoration:none;">{{ produto.descricao }}</a>
				<h2> R$ {{ produto.preco }}</h2>
				<a href="{% url 'create_cartitem' produto.id %}" role="button" class="btn btn-danger" style="font-family: 'minimal'; font-weight: bold; font-size: 25px;">COMPRAR</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
<div class="row">
	<div class="col-md-12">
		<nav>
			<ul class="pagination">
				{% for page in paginator.page_range %}
				<li><a href="?page={{ page }}">{{ page }}</a></li>
				{% endfor %}
			</ul>
		</nav>
	</div>
</div>
{% endblock %}

