{% extends "base.html" %}

{% load static %}

{% block title %}{{produto.descricao}}{% endblock %}

{% block conteudo %}

<div class="detalhe-produto">
	<div class="detalhe-foto"><img src="{{ produto.imagem.url }}" height="400" width="400"></div>
	<div class="detalhe-titulo">{{ produto.descricao }}</div>
	<div class="detalhe-preco">R${{ produto.preco }}</div>
</div>
<div class="detalhe-textinho"><br><br>{{ produto.textinho }}</div>
<a href="{% url 'create_cartitem' produto.id %}" role="button" class="btn btn-danger" class="detalhe-quantidade" style="position: absolute; margin-top: 24%; margin-left: 47%; font-family: 'minimal'; font-weight: bold; font-size: 25px;">COMPRAR</button>   

{% endblock %}

