{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="itapororocaPrincipal">
        <div id="itapororocaFotoPrincipal"><img src="/static/images/itapororoca.jpg"></div>
        <div id="itapororocaInfoGeo1"><h1>Aproximadamente 17 mil habitantes</h1></div>
        <div id="itapororocaInfoGeo2"><h3>Conseguiu arrecadar alimentos para a composição de 135 cestas básicas, além de111 fraldas descartáveis.</h3></div>
        <div id="itapororocaTextoTodo">O município de Itapororoca, com seus 16.997 habitantes, está localizado no Litoral Norte paraibano e em Abril de 2017 sediou o nosso projeto, sob a coordenação de Ângela Souza, Mikaelle Laurentino, Yulle Flávia e Wendson César.        
                O "Eu Amo Vida ITA", por meio da ação dos voluntários e da generosidade dos itapororoquenses, conseguiu arrecadar alimentos para a composição de 135 cestas básicas, além de111 fraldas descartáveis. As cestas foram distribuídas nas comunidades carentes da cidade e as fraldas serão entregues, junto às arrecadadas na campanha de Mamanguape, no Hospital do Câncer da Paraíba e na Associação Donos do Amanhã.</div> 
        <div id="itaFOTO1"><img src="/static/images/ita1.jpg"></div>
        <div id="itaFOTO2"><img src="/static/images/ita2.jpg"></div>
        <div id="itaFOTO3"><img src="/static/images/ita3.jpg"></div>
        <div id="itaFOTO4"><img src="/static/images/ita4.jpg"></div>
{% endblock %}