<!doctype html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Eu Amo Vida">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/style.css" rel="stylesheet">

</head>

<body>
    <div class="fotona">
        <img src="/static/images/capa.jpg" height="700" width="1270">
    </div>

    <div class="logo">
        <img src="static/images/eav.png" height="220" width="220">
    </div>

    <div class="menu" class="text-dark">
        <ul class="nav justify-content-center">
            <li>
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li>
                <a class="nav-link" href="#">Campanha 2019</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Colabore</a>
            </li>
            <li>
                <a class="nav-link" href="#">Onde Estamos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Contato</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Loja</a>
            </li>
        </ul>
    </div>
    <div class="titulo">
        <p>Amar jamais será demais!</p>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>

