{% extends "base.html" %}

{% load static %}

{% block title %}Copo{% endblock %}

{% block conteudo %}

<div class="detalhe-produto">
	<div class="detalhe-foto"><img src="{% static 'images/copo.jpg' %}" height="400" width="400"></div>
	<div class="detalhe-titulo">Copo 2019</div>
	<div class="detalhe-preco">R$10,00</div>
</div>
<div class="detalhe-textinho"><br><br>Esse copo, além de lindo, vai facilitar a sua hidratação. Compre e bebab muita água!</div>
<div>
	<input type="number" class="detalhe-quantidade" class="input-text qty text" step="1" min="1" max="" value="1" title="Quantidade" size="2" inputmode="numeric">
</div>
<button type="button" class="btn btn-danger" style="position: absolute; margin-top: 28%; margin-left: 54%; font-family: 'minimal'; font-weight: bold; font-size: 25px;">- COMPRAR +</button>   

{% endblock %}