<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Onde Estamos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="container">
        <div id="Titulo">Onde Estamos</div>

        <div id="mamanguapeFoto"><img src="images/mamanguape.jpg" height="250" width="250"></div>
        <div id="nomeMMG">Mamanguape</div>
        <div id="textoMMG">Mamanguape é um município do estado<br>da Paraíba com aproximadamente 44 mil<br> habitantes, distribuídos em cerca de 340 <br>mil km² de área.</div>
        <div id="botaoMMG">LEIA MAIS</div>

        <div id="RioTintoFoto"><img src="images/RioTinto.jpg" height="250" width="250"></div>
        <div id="nomeRT">Rio Tinto</div>
        <div id="textoRT">Rio Tinto é um município localizado<br> no litoral norte da Paraíba. Com cerca<br> de 23 mil habitantes, é uma cidade pequena<br> que ocupa pouco mais de 466 km² </div>
        <div id="botaoRT">LEIA MAIS</div>

        <div id="guarabiraFoto"><img src="images/guarabira.jpg" height="250" width="250"></div>
        <div id="nomeGBA">Guarabira</div>
        <div id="textoGBA">Guarabira é um município localizado<br> na região Agreste da Paraíba. Com cerca <br>de 60 mil habitantes, a cidade tem um <br>território de 165 mil km² e é conhecida como<br> a Rainha do Brejo paraibano.</div>
        <div id="botaoGBA">LEIA MAIS</div>

        <div id="baiatraicao_marcacaoFoto"><img src="images/BaiaTraicao_Marcacao.jpg" height="250" width="250"></div>
        <div id="nomeBTMR">Baía da Traição/Marcação</div>
        <div id="textoBTMR">Baía da Traição é uma cidade <br>praieira localizada no litoral norte da Paraíba,<br> e tem uma população estimada em quase<br> 9 mil habitantes.</div>
        <div id="botaoBTMR">LEIA MAIS</div>

        <div id="itapororocaFoto"><img src="images/itapororoca.jpg" height="250" width="250"></div>
        <div id="nomeITA">Itapororoca</div>
        <div id="textoITA">O município de Itapororoca, com seus 16.997<br> habitantes, está localizado no Litoral Norte paraibano<br> e em Abril de 2017 sediou o nosso projeto, sob a<br> coordenação de Ângela Souza, Mikaelle Laurentino,<br> Yulle Flávia e Wendson César.</div>
        <div id="botaoITA">LEIA MAIS</div>

        <div id="jacarauFoto"><img src="images/jacarau.jpg" height="250" width="250"></div>
        <div id="nomeJA">Jacaraú</div>
        <div id="textoJA">Jacaraú, localizada a 96 km de João Pessoa, <br>tem14.378 habitantes e sua área territorial chega<br> a 253 km².</div>
        <div id="botaoJA">LEIA MAIS</div>

        <div id="campinagrandeFoto"><img src="images/campinagrande.jpg" height="250" width="250"></div>
        <div id="nomeCG">Campina Grande</Div>
        <div id="textoCG">Campina Grande fica a 133,3km da capital da Paraíba<br> e possui uma população de aproximadamente <br>355 mil habitantes. É uma cidade de extrema importância<br> na Paraíba, no Nordeste e no Brasil.</div>
        <div id="botaoCG">LEIA MAIS</div>

    </div>
</body>
</html>