
body{
    background-color:#eeeef0;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.fotona {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
	    -ms-filter: blur(2px);
	     -o-filter: blur(2px);
	filter: blur(4px);
	position: absolute;
}

.nav-link, active, scroll {
	color: #000;
	font-family: 'roboto';
	font-size: 20px;
}

.navbar-nav > li > a:hover {
	color: #c90024;
}

#menufooter > li > a:hover {
    color: #ffffff;
}

@font-face {
    font-family: 'minimal';
    src: url("/static/fonts/minimal.otf");
}

@font-face {
	font-family: 'roboto';
    src: url("/static/fonts/roboto.ttf");    
}

#titulohome {
	position: absolute;
    top: 30%;
	left: 26%;
	font-size: 100px;
	font-family: 'minimal';
	line-height: 100px;
	color: #c90024;
	font-weight: bolder;
	letter-spacing: 4px;
}


#rodape {
    position: absolute;
    top: 600%;
    width: 100%;
    background-color: #c90024;
    margin-bottom: 0px;
}

#menufooter {
    float: left;
    position: relative;
    margin-left: 30%;
    font-size: 4px;
}

#copyright {
    color: #000;
    font-family: 'roboto';
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    bottom: 0px;
    left: 45%;
}

ul {
    list-style-type: none;
}

.social-icon {
    float: right;
    position: relative;
    margin-right: 35%;
}

.cont-indiv {
    padding-bottom: 350px;
}

.social-icon li {
    float: unset;
    width: auto;
    margin-top: 15px;
}

#cidades {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    grid-auto-flow: row dense;
    margin-top: 25px;
}

#Titulo {
    font-size: 40px;
    position: relative;
    left:28%;
    color:#c90024;
    font-weight: bold;
}

#sobrebug {
    font-size: 40px;
    position: absolute;
    left:45%;
    color:#c90024;
    font-weight: bold;
    top: 25%;
}

#mamanguapeFoto{
    grid-row:2;
    grid-column:1;
    position: relative;
    text-align: center;
    
}
#nomeMMG{
    grid-row:3;
    grid-column:1;
    color: #c90024;
    font-size: 30px;
    position: relative;
    text-align: center;
}
#textoMMG{
    grid-row:4;
    grid-column:1;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
#botaoMMG{
    grid-row:5;
    grid-column: 1;
    color: black;
    font-size: 20px;
    position: relative;
    margin: 0%;
    text-align: center;
}

#RioTintoFoto{
    grid-row:2;
    grid-column: 2;
    position: relative;
    text-align: center;
}
#nomeRT{
    grid-row:3;
    grid-column: 2;
    color: red;
    font-size: 30px;
    position: relative;
    text-align: center;
}
#textoRT{
    grid-row:4;
    grid-column: 2;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
}
#botaoRT{
    grid-row:5;
    grid-column: 2;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
}

#guarabiraFoto{
    grid-row: 2;
    grid-column: 3;
    position: relative;
    text-align: center;
}
#nomeGBA{
    grid-row:3;
    grid-column: 3;
    color: #c90024;
    font-size: 30px;
    position: relative;
    text-align: center;
}
#textoGBA{
    grid-row:4;
    grid-column: 3;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
}
#botaoGBA{
    grid-row:5;
    grid-column: 3;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
}

#baiatraicao_marcacaoFoto{
    grid-row: 6;
    grid-column: 1;
    position: relative;
    top: 50px;
    text-align: center;
}
#nomeBTMR{
    grid-row: 7;
    grid-column: 1;
    color: #c90024;
    font-size: 30px;
    position: relative;
    top:50px;
    text-align: center;
}
#textoBTMR{
    grid-row:8;
    grid-column: 1;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
    top:50px;
}
#botaoBTMR{
    grid-row: 9;
    grid-column: 1;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin-bottom: 100px;
    top:50px;
}

#itapororocaFoto{
    grid-row:6;
    grid-column: 2;
    position: relative;
    top:50px;
    text-align: center;
}
#nomeITA{
    grid-row:7;
    grid-column: 2;
    color: #c90024;
    font-size: 30px;
    position: relative;
    top:50px;
    text-align: center;
}
#textoITA{
    grid-row: 8;
    grid-column: 2;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
    top:50px;
}
#botaoITA{
    grid-row: 9;
    grid-column: 2;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
    top:70px;
}

#jacarauFoto{
    grid-row:6;
    grid-column: 3;
    position: relative;
    top:50px;
    text-align: center;
}
#nomeJA{
    grid-row:7;
    grid-column: 3;
    color: #c90024;
    font-size: 30px;
    position: relative;
    top:50px;
    text-align: center;
}
#textoJA{
    grid-row: 8;
    grid-column: 3;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
    top:50px;
}
#botaoJA{
    grid-row:9;
    grid-column: 3;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
    top:40px;
}

#campinagrandeFoto{
    grid-row:10;
    grid-column: 1;
    position: relative;
    top:90; 
    text-align: center;
}
#nomeCG{
    grid-row:11;
    grid-column: 1;
    color: #c90024;
    font-size: 30px;
    position: relative;
    top:90;
    text-align: center;
}
#textoCG{
    grid-row:12;
    grid-column: 1;
    color: black;
    font-size: 15px;
    position: relative;
    text-align: center;
    top:90;
}
#botaoCG{
    grid-row:13;
    grid-column: 1;
    color: black;
    font-size: 20px;
    position: relative;
    text-align: center;
    margin: 0%;
    top:100;
}

.formContato{
    position: absolute;
    top: 25%;
    left: 28%;
    color: black;
    width: 50%;
    height: 50%;
   
}

.container > p {
    color: #000;
    font-family: 'roboto';
    font-size: 20px;
    position: absolute;
    top: 35%;
    left: 15%;
    right: 15%;
    text-align: justify;
}

.icone {
    width: 20%;
    height: 50px;
    float: left;
    margin-left: 15%;
    margin-bottom: 20px;
}



