{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="mamanguapePrincipal">
    <div id="mamanguapeFotoPrincipal"><img src="/static/images/mamanguape.jpg"></div>
    <div id="mamanguapeInfoGeo1"><h1>Aproximadamente 44 mil habitantes</h1></div>
    <div id="mamanguapeInfoGeo2"><h3>Mais de 800 familias mamanguapenses já foram ajudadas</h3></div>
    <div id="mamanguapeTextoTodo">
        Mamanguape é um município do estado da Paraíba com aproximadamente 44 mil habitantes, distribuídos em cerca de 340 mil km² de área.
        É considerada uma cidade histórica, marcada pela exploração do Pau-Brasil e pelo plantio da cana de açúcar. Também conhecida como a "Rainha do Vale", ela é a cidade-mãe da nossa campanha pois foi lá que o projeto nasceu. Hoje é o municipio que reúne o maior número de voluntários.
        Desde 2012, o Eu Amo Vida vem atuando em Mamanguape e o resultado tem sido muito bonito: Mais de 800 familias mamanguapenses já foram ajudadas através das cestas básicas arrecadadas, além dos livros infantis, das fraldas descartáveis, dos brinquedos, dos materiais de limpeza e higiene pessoal que foram entregues a comunidades carentes e hospitais filantrópicos da capital paraibana.      
        Há em Mamanguape um povo com o coração generoso, solidário e voluntário. E nós queremos agradecer! Não existe Eu Amo Vida sem as doações de amor.</div> 
    <div id="mmgFOTO1"><img src="/static/images/mmgFOTO1.jpg"></div>
    <div id="mmgFOTO2"><img src="/static/images/mmgFOTO2.jpg"></div>
    <div id="mmgFOTO3"><img src="/static/images/mmgFOTO3.jpg"></div>
    <div id="mmgFOTO4"><img src="/static/images/mmgFOTO4.jpg"></div>   
</div>
{% endblock %}

