{% extends "base.html" %}

{% block title %}Doe alimentos{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Doe Alimentos</h1>

<div id="">
    <div id="foto1"><img src="/static/images/6.jpg" height="700" width="1000"></div>
    <div id="texto">Esse ano o Eu Amo Vida tem a meta de arrecadar 200 cestas básicas, <br>e assim, beneficiar dezenas de famílias de comunidades carentes<br> da cidade de Mamanguape! 
        Nos ajude a propagar o bem.<br> Vem amar a vida junto com a gente?</div>
    
</div>

{% endblock %}