{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="campinaPrincipal">
        <div id="campinaFotoPrincipal"><img src="/static/images/campinagrande.jpg"></div>
        <div id="campinaInfoGeo1"><h1>Aproximadamente 355 mil habitantes</h1></div>
        <div id="jacarauInfoGeo2"><h3>Desejamos que o projeto seja um sucesso e muitas vidas possam ser amadas e ajudadas com cada doação.</h3></div>
        <div id="jacarauTextoTodo">Campina Grande fica a 133,3km da capital da Paraíba e possui uma população de aproximadamente 355 mil habitantes. É uma cidade de extrema importância na Paraíba, no Nordeste e no Brasil. Promove o maior são joão do mundo, além de ter grande relevância nacional e internacional em várias áreas do conhecimento e da produção científica. É muito bonita, com história pra contar e queremos escrever um povo dessa história. 
                O Eu Amo Vida realizará ali sua primeira edição e não cabem em palavras nossa alegria por poder estender todas as nossas ações e seguir fazendo o bem também aos campinenses.
                Até agora é o nosso maior desafio em metros quadrados e população! Desejamos que o projeto seja um sucesso e muitas vidas possam ser amadas e ajudadas com cada doação.
                Vamos juntos?
                Vem amar a vida junto com a gente?</div> 
        <div id="cgFOTO1"><img src="/static/images/ita1.jpg"></div>
        <div id="cgFOTO2"><img src="/static/images/ita2.jpg"></div>
        <div id="cgFOTO3"><img src="/static/images/ita3.jpg"></div>
        <div id="cgFOTO4"><img src="/static/images/ita4.jpg"></div>
{% endblock %}