<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="contatoStyle.css">
		<meta charset="utf-8">
    
   
		<title>Contato</title>
	
	</head>

	<body>

<img src="logo.png" width="200" height="200">

<div class="formContato"> 
    <h1 id="h1">Fale conosco:</h1>
<form>
	<p><strong>Nome:</strong></p>
	<input type="text" name="nome"  size="60">

	<p><strong>E-mail:</strong></p>
	<input type="text" name="nome" size="60">

	<p><strong>Mensagem:</strong></p>
	<textarea rows="15" cols="60"></textarea>
	<input type="Button"  value="Enviar" >
</form>

</div>
    </body>
</html>