body {
	background-color: #eeeef0;
}

.fotona {
	-webkit-filter: blur(2px);
	   -moz-filter: blur(2px);
	    -ms-filter: blur(2px);
	     -o-filter: blur(2px);
	filter: blur(4px);
	position: absolute;
}

.nav-link, active, scroll {
	color: #000;
	font-family: 'roboto';
	font-size: 20px;
}

.navbar-nav > li > a:hover {
	color: #c90024;
}

@font-face {
    font-family: 'minimal';
    src: url("/static/fonts/minimal.otf");
}

@font-face {
	font-family: 'roboto';
    src: url("/static/fonts/roboto.ttf");    
}

#titulo {
	position: absolute;
    top: 35%;
	left: 26%;
	font-size: 100px;
	font-family: 'minimal';
	line-height: 100px;
	color: #c90024;
	font-weight: bolder;
	letter-spacing: 4px;
}


#container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px;
    grid-auto-flow: row dense;
}
#Titulo {
    grid-row: 1;
    grid-column: 1/3;
    font-size: 80px;
    position: relative;
    left:30%;
    white-space: nowrap;
    width: 200px;
    color:red;
    margin: 0%;
}

#mamanguapeFoto{
    grid-row:2;
    grid-column:1;
    position: relative;
    
}
#nomeMMG{
    grid-row:3;
    grid-column:1;
    color: red;
    font-size: 30px;
    position: relative;
    left: 30px;
}
#textoMMG{
    grid-row:4;
    grid-column:1;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
}
#botaoMMG{
    grid-row:5;
    grid-column: 1;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
}

#RioTintoFoto{
    grid-row:2;
    grid-column: 2;
    position: relative;
}
#nomeRT{
    grid-row:3;
    grid-column: 2;
    color: red;
    font-size: 30px;
    position: relative;
    left: 60px;
}
#textoRT{
    grid-row:4;
    grid-column: 2;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
}
#botaoRT{
    grid-row:5;
    grid-column: 2;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
}

#guarabiraFoto{
    grid-row: 2;
    grid-column: 3;
    position: relative;
}
#nomeGBA{
    grid-row:3;
    grid-column: 3;
    color: red;
    font-size: 30px;
    position: relative;
    left: 60px;
}
#textoGBA{
    grid-row:4;
    grid-column: 3;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
}
#botaoGBA{
    grid-row:5;
    grid-column: 3;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
}

#baiatraicao_marcacaoFoto{
    grid-row: 6;
    grid-column: 1;
    position: relative;
    top: 50px;
}
#nomeBTMR{
    grid-row: 7;
    grid-column: 1;
    color: red;
    font-size: 30px;
    position: relative;
    top:50px;
}
#textoBTMR{
    grid-row:8;
    grid-column: 1;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
    top:50px;
}
#botaoBTMR{
    grid-row: 9;
    grid-column: 1;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
    top:70px;
}

#itapororocaFoto{
    grid-row:6;
    grid-column: 2;
    position: relative;
    top:50px;
}
#nomeITA{
    grid-row:7;
    grid-column: 2;
    color: red;
    font-size: 30px;
    position: relative;
    top:50px;
    left: 50px;
}
#textoITA{
    grid-row: 8;
    grid-column: 2;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
    top:50px;
}
#botaoITA{
    grid-row: 9;
    grid-column: 2;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
    top:70px;
}

#jacarauFoto{
    grid-row:6;
    grid-column: 3;
    position: relative;
    top:50px;
}
#nomeJA{
    grid-row:7;
    grid-column: 3;
    color: red;
    font-size: 30px;
    position: relative;
    top:50px;
    left: 80px;
}
#textoJA{
    grid-row: 8;
    grid-column: 3;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
    top:50px;
}
#botaoJA{
    grid-row:9;
    grid-column: 3;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
    top:40px;
}

#campinagrandeFoto{
    grid-row:10;
    grid-column: 2;
    position: relative;
    top:90;
}
#nomeCG{
    grid-row:11;
    grid-column: 2;
    color: red;
    font-size: 30px;
    position: relative;
    top:90;
    left: 20px;
}
#textoCG{
    grid-row:12;
    grid-column: 2;
    color: black;
    font-size: 15px;
    position: relative;
    left: 10px;
    top:90;
}
#botaoCG{
    grid-row:13;
    grid-column: 2;
    color: black;
    font-size: 20px;
    position: relative;
    left:15px;
    margin: 0%;
    top:100;
}

