<!doctype html>
{% load static %}
<html>

<head>
    <title>
        {% block title %}Eu Amo Vida{% endblock %}
    </title>

    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/minimal.ttf' %}>"
    <link rel="stylesheet" href="{% static 'fonts/roboto.ttf' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    {% block styles %}{% endblock %}
</head>

<body>

    <nav  class="navbar fixed-top navbar-expand-lg">
        <a class="navbar-brand" href="{% url 'euamovida:index' %}">
            <img src="{% static 'euamovida/images/eav.png' %}" style="height: 180px;">
        </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" class="w-25 p-3">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active scroll" href="{% url 'index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active scroll" href="{% url 'campanha2019' %}">Campanha 2019</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link scroll" href="{% url 'colabore' %}">Colabore</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link scroll" href="{% url 'ondeestamos' %}">Onde Estamos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active scroll" href="{% url 'sobre' %}">Sobre</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link scroll" href="{% url 'contato' %}"">Contato</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link scroll" href="{% url 'lojinha' %}">Loja</a>
                        </li>
                </ul>
            </div>
            <div class="collapse navbar-collapse" class="w-50 p-3">
                <i class="material-icons" style="font-size: 35px">search</i>
                <i class="material-icons mat" style="font-size: 35px">shopping_cart</i>
            </div>
    </nav>
    
    {% block conteudo %}{% endblock %}

    <script src="{% static 'euamovida/js/jquery.min.js' %}"></script>
    <script src="{% static 'euamovida/js/bootstrap.min.js' %}"></script>

    {% block scripts %}{% endblock %}

    <script src="{% static 'euamovida/js/scripts.js' %}"></script>
</body>
</html>

