{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}Carrinho{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Seu carrinho</h1>

<div class="container" style="margin-left: -1%">
    <form class="" action="" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="table" id="carrinho">  
            <thead class="thead-dark" align="center">        
                <tr>
                    <th>Produto</th>
                    <th>Preço</th>
                    <th>Quantidade</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody align="center">
                {% for form in formset %}
                <tr>
                    <td align="left">
                        <img src="{{ form.instance.produto.imagem.url }}" height="140" width="140">
                        <h5>&nbsp;&nbsp;{{ form.instance.produto.descricao }}</h5>
                    </td>
                    <td>R$ {{ form.instance.preco }}</td>
                    <td>{% render_field form.quantidade class='form-control' %}</td>
                    <td>
                        <button value="on" type="submit" name="{{ form.DELETE.html_name }}" class="btn btn-danger btn-sm" id="quantidade">X</button>
                        {{ form.id }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>


<a href="{% url 'euamovida-lojinha' %}" role="button" class="btn btn-danger" style="position: absolute; margin-top: 8%; margin-left: 10%;">Escolha mais produtos</button>
<button type="button" class="btn btn-danger" style="position: absolute; margin-top: -4%; margin-left: 305%">Atualizar pedido</button>  
<button type="button" class="btn btn-danger" style="position: absolute; margin-top: -4%; margin-left: 388%">Fechar pedido</button> 



{% endblock %}


                