{% extends "base.html" %}

{% load static %}

{% block title %}Compre camisas{% endblock %}

{% block conteudo %}

<h1 id="Titulo">Compre Camisas</h1>

<div id="Camisa">
    <div id="foto1"><img src="{% static 'images/1.jpg' %}" height="450" width="1100"></div>
    <div id="texto">Este ano oferecemos 3 estampas, dando diferentes opções para que você declare <br> junto conosco que ainda há muito caminho a percorrer! Garanta a Sua já!</div>
</div>
    <div id="camisafoto4"><img src="{% static 'images/2.jpg' %}" height="450" width="450"></div>
    <div id="texto">Nossas crianças também fazem parte deste amor que só cresce. <br> Por isto, este ano não seria diferente das campanhas <br> anteriores: também teremos uma camisa com <br> estampa, exclusivamente fofa, para as nossas pequenas!

       <br> Garanta já a sua e vem amar a vida com a gente!</div>
</div>
    <div id="camisafoto5"><img src="{% static 'images/3.jpg' %}" height="450" width="450"></div>
    <div id="texto">Vestir a camisa do amor diz muito sobre você.

        Diz sobre o seu coração!<br>
        
        Diz sobre a sua vontade em fazer do mundo um lugar em que o bem prevaleça<br>
        
        Diz sobre como você é capaz de doar um pouco daquilo que tem, <br> pra quem tem pouco (ou nada tem).<br>
        
        Diz sobre sua sensibilidade em notar as necessidades do outro.<br>
        
        Diz que você é parte de um movimento de amor.<br>
        
        A nossa campanha é financiada pela venda dessas camisas e, comprar a sua, <br> faz de você um colaborador deste projeto. Um semeador <br> do bem que cresce à luz do amor.
        
        E então?<br>
        Vem amar a vida junto com a gente?</div>
</div>

    

{% endblock %}