{% extends "base.html" %}

{% block title %}Guarabira{% endblock %}

{% block conteudo %}
<div id="guarabiraPrincipal">
    <div id="guarabiraFotoPrincipal"><img src="/static/images/guarabira.jpg"></div>
    <div id="guarabiraInfoGeo1"><h1>Aproximadamente 60 mil habitantes</h1></div>
    <div id="guarabiraInfoGeo2"><h3>Guarabira é um município localizado na região Agreste da Paraíba. Com cerca de 60 mil habitantes, a cidade tem um território de 165 mil km² e é conhecida como a Rainha do Brejo paraibano.      
        O Eu Amo Vida chegou ali no ano de 2016 e alcançou resultados mais do que esperados para uma primeira edição.    
        Sob a coordenação de Matheus Clímaco e Karla Barreto, o projeto contou com 225 colaboradores (através da aquisição da camisa) e arrecadou mais de uma tonelada de alimentos, transformados em 250 cestas básicas distribuídas em comunidades carentes da cidade. Além disso, foram arrecadadas fraldas descartáveis e a parceria com o Hemonúcleo local impulsionou a doação de sangue.       
        </div> 
    <div id="gbFOTO1"><img src="/static/images/gb1.jpg"></div>
    <div id="gbFOTO2"><img src="/static/images/gb2.jpg"></div>
    <div id="gbFOTO3"><img src="/static/images/gb3.jpg"></div>
    <div id="gbFOTO4"><img src="/static/images/gb4.jpg"></div>
{% endblock %}