{% extends "base.html" %}

{% load static %}

{% block title %}Doe Sangue{% endblock %}

{% block conteudo %}
<h1 id="Titulo">Doe Sangue</h1>

<div id="DoeSangue">
    <div id="foto1"><img src="{% static 'images/7.jpg' %}" height="700" width="1000"></div>
    <div id="texto">Nos últimos 6 anos o Eu Amo Vida colaborou com a coleta <br>de 300 bolsas de sangue para o Hemocentro da Paraíba.<br> A meta deste ano é de arrecadar 30 bolsas.            Doar sangue pode salvar vidas! <br>Junte-se a nós nesta luta de amor à vida!</div>

    <div id="foto1"><img src="{% static 'images/8.jpg' %}" height="700" width="1000"></div>
    <div id="texto">Quer doar sangue mas não sabe o que precisa saber? <br>Uma equipe solidária de profissionais e estudantes do estado de São Paulo<br> produziu e disponibilizou um e-book gratuito com todas as informações necessárias<br> para este ato de amor à vida. Você pode encontrá-lo clicando aqui.<br>

    E não esqueça: dia 28/07 a partir das 08h o Eu amo Vida   receberá o <br>Hemocentro da Paraíba para coleta de sangue na cidade de Mamanguape.<br>
    
    Vem amar a vida junto com a gente?</div>
    
    
</div>

{% endblock %}