{% extends "base.html" %}

{% load static %}

{% block title %}{{cidade.nome}}{% endblock %}

{% block conteudo %}

<h1 id="Titulo">{{ cidade.nome }}</h1>

<div id="riotintoPrincipal">
        <div id="riotintoFotoPrincipal"><img src="{{ cidade.foto_cidade.url }}"></div>
        <div id="riotintoInfoGeo1"><h1>{{ cidade.titulo }}</h1></div>
        <div id="riotintoInfoGeo2"><h3>{{ cidade.subtitulo }}</h3></div>
        <div id="riotintoTextoTodo">{{ cidade.textinho }}</div> 
        <div id="rtFOTO1"><img src="{{ cidade.puzzle1.url }}"></div>
        <div id="rtFOTO2"><img src="{{ cidade.puzzle2.url }}"></div>
        <div id="rtFOTO3"><img src="{{ cidade.puzzle3.url }}"></div>
        <div id="rtFOTO4"><img src="{{ cidade.puzzle4.url }}"></div>   
    </div>
{% endblock %}