{% extends "base.html" %}

{% block title %}Onde Estamos{% endblock %}

{% block conteudo %}
<div id="riotintoPrincipal">
        <div id="riotintoFotoPrincipal"><img src="/static/images/RioTinto.jpg"></div>
        <div id="riotintoInfoGeo1"><h1>Aproximadamente 23 mil habitantes</h1></div>
        <div id="riotintoInfoGeo2"><h3>Mais de 300 familias de Rio Tinto já foram ajudadas</h3></div>
        <div id="riotintoTextoTodo">Rio Tinto é um município localizado no litoral norte da Paraíba. Com cerca de 23 mil habitantes, é uma cidade pequena que ocupa pouco mais de 466 km² . É também o lugar onde Lorena cresceu.
                Desde o ano de 2013, o Eu Amo Vida tem ocupado um cantinho especial no coração dos riotintenses. Coordenado por Esdras Freitas e Enya Fernandes, lá o projeto já teve quatro edições e os resultados surpreenderam!      
                Mais de 300 famílias de Rio Tinto já foram ajudadas com cestas básicas doadas pela população de Rio Tinto. Além das 200 fraldas descartáveis arrecadas (que foram entregues a pacientes oncológicos) e da doação de mais de 100 bolsas de sangue que agora correm em outras veias.</div> 
        <div id="rtFOTO1"><img src="/static/images/mmgFOTO1.jpg"></div>
        <div id="rtFOTO2"><img src="/static/images/mmgFOTO2.jpg"></div>
        <div id="rtFOTO3"><img src="/static/images/mmgFOTO3.jpg"></div>
        <div id="rtFOTO4"><img src="/static/images/mmgFOTO4.jpg"></div>   
    </div>
{% endblock %}